
@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-10 offset-1">
       
        <div class="card my-5">
            <div class="card-body">
                <h5 class="card-title">Master/Detail CRUD Operations</h5>
                <h6 class="card-subtitle mb-2 text-muted">Highligts</h6>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Ajax Paging with X.PagedList</li>
                    <li class="list-group-item">Insert/Edit parent with child</li>
                    <li class="list-group-item">User confirmation before delete</li>
                </ul>
            </div>
        </div>
    </div>
</div>

